# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Tom Van Eyck\Documents\KULeuven\Master Burgerlijk Ingenieur Computerwetenschappen\2de jaar\Capita Selecta - Distributed Systems\Module 2\k8-scalar\practicum\scalar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
